body, h2, p, ul { margin: 0; }

button, input, textarea, ul { padding: 0; }

button, input, textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
}

button:focus-visible, input:focus-visible, textarea:focus-visible { outline: none; }

textarea { resize: none; }

ul { list-style-type: none; }

*, ::after, ::before { box-sizing: border-box; }
